body{
	background-color: #262626;
	color: white;
}
.navFontSize{
	font-size: 20px;
}
.carousel-item img{
	height: 90vh;
}
.specialImg{
	width:100%;
}
.itemBoxTitle{
	background-color: rgba(0,0,0,0.9);
}
.itemBoxContent{
	background-color: rgba(0,0,0,0.5);
}
.titleContent{
	border-bottom-style: solid;
	border-bottom-color: rgb(110,191,194);
	border-bottom-width: 5px;
}

.whiteLine{
	background-color: white;
}

.borderDarkGrey{
	border-color: #262626;
}

.borderBleue{
	border-color:  rgb(110,191,194);
	border-width: 2px;
}

.backgroundOrange{
	background-color: rgb(209,86,65);
}
.backgroundDarkGrey{
	background-color: #262626;
}
.backgroundGrey{
	background-color: #778899;
}

.textOrange{
	color: rgb(209,86,65);
}
.backgroundBleue{
	background-color: rgb(110,191,194);
}
.textBleue{
	color: rgb(110,191,194);
}
.test{
	visibility: hidden;
}
footer{
	background-color: rgb(209,86,65);
}
.list-group{
    max-height: 150px;
    margin-bottom: 10px;
    overflow:auto;
}
#modalImageImage{
	width:100%;
	height: auto;
}
