/*rgb(209,86,65)
rgb(110,191,194)*/
body{
	/*background-color: #262626;*/
	background-color: red;
	color: white;
}
.carousel-item img{
	height: 90vh;
}

.whiteLine{
	background-color: white;
}
#backgroundOrange{
	background-color: rgb(209,86,65);
}
.backgroundBleue{
	background-color: rgb(110,191,194);
}
.test{
	background-color: red;
	color: green;
}
footer{
	background-color: rgb(209,86,65);
}